<nav class=" footer-custom navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['Home']" >Angular Services</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['Home']" >Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['Profile']" >Profile</a>
      </li>
    </ul>
 
      <div class="btn-custom btn btn-outline-success my-2 my-sm-0">David</div>

  </div>
</nav>