.m-6-custom{
    margin: 6rem!important;
}

.container-autochatwithservice{
    max-width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.container-autochat{
    max-width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}