<div class="container container-custom">
    <div class="conversation">
      <div *ngFor="let sentence of conversation" >
        <h5><span class="badge badge-secondary">{{sentence}}</span></h5>
      </div>
    </div>
    <div class="message">
      <form class="form-signin form-custom" (ngSubmit)="onSubmit()">
        <input autocomplete="off" type="text" id="inputtext" class="form-control input-custom" [placeholder]="defaultText" [(ngModel)]="model.message"
          name="message">
        <button type="submit" class="btn btn-info btn-send-custom">Send</button>
      </form>
    </div>
  </div>